<!-- popOver -->
<%= javascript_include_tag "popOver.js" %>

<div id="popOverImg" class="hide">
  <a href="https://www.kickstarter.com/projects/778745924/feeling-inspired-app" target="_blank">
    <img src="img/app_PopOver/app_popOver2.jpg" width="500" height="400">
  </a>
  <div id="remove">X</div>
</div>