.mainNav {
  @include span-columns(8);
  @include shift(2);
  position: relative;
  margin-top: -4em;
  // padding: 0;

  @include media($mobile) {
    @include span-columns(8);
    @include shift(2);
    margin-top: -1.5em;
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      @include span-columns(2 of 10, block-collapse);
      font-family: $header-font;
      font-size: 1.8em;
      padding: 0;
      margin: 0;
      &:last-child {
        @include omega();
        // background: red;
      }

      @include media($mobile) {
        font-size: 1.3em;
        // width: 20%;
        // @include span-columns(2 of 10, block-collapse);
        // background: red;
        &:last-child {
          @include omega();
          // background: red;
        }
      }

      a {
        color: $black;
      }
    }
  }
}

.navBtns {
  text-decoration: none;
  list-style-image: none;
  // width: 121px;
  height: auto;
  line-height: 119px;
  color: $black;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include media($mobile) {
    line-height: 26px;
    margin-top: -0em;
  }

  a {
    text-decoration: none;
    border-bottom: none;
  }
}

.homeBtn {
  padding-right: 0.5em;
  &:hover {
    background-image: url(../img/buttons/home_btn.svg);
    cursor: pointer;

    @include media($mobile) {
      background-image: none;
      color: $black;
      // border-bottom: 20px solid $green;
      // border-width: 1em;
      height: 1em;
      // width: 60%;
      text-align: center;
      margin: 0 auto;
      background: $green;
    }
  }
}

.galleryBtn {
  //
  &:hover {
    background-image: url(../img/buttons/gallery_btn.svg);
    cursor: pointer;

    @include media($mobile) {
      background-image: none;
      color: $black;
      // border-bottom: 20px solid $green;
      // border-width: 1em;
      height: 1em;
      // width: 60%;
      text-align: center;
      margin: 0 auto;
      background: $green;
    }
  }
}

.shopBtn {
  padding-left: 0.2em;
  &:hover {
    background-image: url(../img/buttons/shop_btn.svg);
    cursor: pointer;

    @include media($mobile) {
      background-image: none;
      color: $black;
      // border-bottom: 20px solid $green;
      // border-width: 1em;
      height: 1em;
      // width: 60%;
      text-align: center;
      margin: 0 auto;
      background: $green;
    }
  }
}

.contactBtn {
  //
  &:hover {
    background-image: url(../img/buttons/contact_btn.svg);
    cursor: pointer;

    @include media($mobile) {
      background-image: none;
      color: $black;
      // border-bottom: 20px solid $green;
      // border-width: 1em;
      height: 1em;
      // width: 60%;
      text-align: center;
      margin: 0 auto;
      background: $green;
    }
  }
}

.blogBtn {
  padding-left: 0.1em;
  &:hover {
    background-image: url(../img/buttons/blog_btn.svg);
    cursor: pointer;

    @include media($mobile) {
      background-image: none;
      color: $black;
      // border-bottom: 20px solid $green;
      // border-width: 1em;
      height: 1em;
      // width: 60%;
      text-align: center;
      margin: 0 auto;
      background: $green;
    }
  }
}

// Upstate on individual pages
body.index .homeBtn {
  background-image: url(../img/buttons/home_btn.svg);

  @include media($mobile) {
    background-image: none;
    color: $black;
    // border-bottom: 1p20pxolid $green;
    // border-width: 2e1;
    height: 1em;
    // width: 60%;
    text-align: center;
    margin: 0 auto;
    background: $green;
  }
}

body.artists-statement .homeBtn {
  background-image: url(../img/buttons/home_btn.svg);

  @include media($mobile) {
    background-image: none;
    color: $black;
    // border-bottom: 1p20pxolid $green;
    // border-width: 2e1;
    height: 1em;
    // width: 60%;
    text-align: center;
    margin: 0 auto;
    background: $green;

  }
}

body.original-artwork .galleryBtn,
body.digital-artwork .galleryBtn,
body.patterns .galleryBtn {
  background-image: url(../img/buttons/gallery_btn.svg);

  @include media($mobile) {
    background-image: none;
    color: $black;
    // border-bottom: 1p20pxolid $green;
    // border-width: 2e1;
    height: 1em;
    // width: 60%;
    text-align: center;
    margin: 0 auto;
    background: $green;
  }
}

body.shop .shopBtn {
  background-image: url(../img/buttons/shop_btn.svg);

  @include media($mobile) {
    background-image: none;
    color: $black;
    // border-bottom: 1p20pxolid $green;
    // border-width: 2e1;
    height: 1em;
    // width: 60%;
    text-align: center;
    margin: 0 auto;
    background: $green;
  }
}

body.contact .contactBtn {
  background-image: url(../img/buttons/contact_btn.svg);

  @include media($mobile) {
    background-image: none;
    color: $black;
    // border-bottom: 1p20pxolid $green;
    // border-width: 2e1;
    height: 1em;
    // width: 60%;
    text-align: center;
    margin: 0 auto;
    background: $green;
  }
}
