.socialIconsBox  {
  margin: 0em auto 0;
  text-align: center;
  // width: 33px;
  // margin-top: 0.5em;
  padding: 0 0.6em;

  @include media($mobile) {
    padding: 0;
  }
}

.socialIcon {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 130%;

  @include media($mobile) {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding: 0; /* reset */
    padding-bottom: 130%;
  }
}

.facebook {
  background-image: url(../img/icons/facebook.svg);

  &:hover {
    background-image: url(../img/icons/facebook_hv.svg);
  }
}

.instagram {
  background-image: url(../img/icons/instagram.svg);

  &:hover {
    background-image: url(../img/icons/instagram_hv.svg);
  }
}

.flickr {
  background-image: url(../img/icons/flickr.svg);

  &:hover {
    background-image: url(../img/icons/flickr_hv.svg);
  }
}

.pinterest {
  background-image: url(../img/icons/pinterest.svg);

  &:hover {
    background-image: url(../img/icons/pinterest_hv.svg);
  }
}


