<div class="nav_gall">
  <ul>
    <li class="oe_art"><a href="original-artwork.html" title="Original Artwork">Original Artwork</a></li>
    <li class="da_art"><a href="digital-artwork.html" title="Digital Artwork">Digital Artwork</a></li>
    <li class="patt_art"><a href="patterns.html" title="Patterns">Patterns</a></li>
  </ul>
</div>
