<nav class="mainNav">

    <ul>

      <li>
        <a href="index.html" title="Home">
          <div class="navBtns homeBtn">Home</div>
        </a>
      </li>

      <li>
        <a href="original-artwork.html" title="gallery">
          <div class="navBtns galleryBtn">Gallery</div>
        </a>
      </li>

      <li>
        <a href="shop.html" title="Shop">
          <div class="navBtns shopBtn">Shop</div>
        </a>
      </li>

      <li>
        <a href="contact.html" title="Contact">
          <div class="navBtns contactBtn">Contact</div>
        </a>
      </li>

      <li>
        <a href="http://www.valentinaramos.blogspot.com/" target="_blank" title="Blog">
          <div class="navBtns blogBtn">Blog</div>
        </a>
      </li>

    </ul>

</nav>


