<div class="socialIconsBox">

  <a href="http://www.facebook.com/ValentinaRamosArt" target="_blank">
    <div>
      <div class="socialIcon facebook">&nbsp;</div>
    </div>
  </a>

  <a href="http://followgram.me/valentinadesign/" target="_blank">
    <div>
      <div class="socialIcon instagram">&nbsp;</div>
    </div>
  </a>

  <a href="http://www.flickr.com/photos/valentinadesign/" target="_blank">
    <div>
      <div class="socialIcon flickr">&nbsp;</div>
    </div>
  </a>

  <a href="http://pinterest.com/valentinaharper/" target="_blank">
    <div>
      <div class="socialIcon pinterest">&nbsp;</div>
    </div>
  </a>

</div>
