main.gallery {
  //
  ul {
    padding: 0;
    margin: 0.5em;

    @include media($mobile) {
      margin: 0;
    }

    li {
      @include span-columns(3);
      @include omega(4n);
      background: $beige;
      margin-bottom: 1em;
      // height: 180px;
      // width: 100%;
      @include box-shadow($grey 0px 2px 6px -2px);
      border-radius: 0.5em;

      // @include media($med-width) {
      //   @include span-columns(1);
      //   @include omega(2n);
      //   margin-bottom: 1em;
      // }

      @include media($mobile) {
        @include span-columns(5 of 10);
        @include omega(6n of 10);
        // @include shift(1);
        // box-shadow: none;
        // margin-bottom: 0;
        margin-bottom: 1em;
        padding: 0;
        &:nth-child(even) {
          margin-right: 0em;
        }
      }

      &.galleryGrid {
        text-align: center;
        // background: transparentize($orange,.5);
        img {
          @include fill-parent();
          // border-top-left-radius: 0.5em;
          // border-top-right-radius: 0.5em;
          border-radius: 0.5em;
        }
        p {
          margin: 0.5em auto;
        }
      }
    }

  }
}



