@import "base"; // Compass, Normalize, h5bp, bourbon, neat, !susy, !breakpoint
@import "colors";
@import "_imports/modals";
@import "_imports/fonts";
@import "_imports/layout";
@import "_imports/mortar";
@import "_imports/mixins";
@import "_imports/nav";
@import "_imports/_nav_gall";
@import "_imports/social";
@import "_imports/typography";
@import "vendor/lightbox.css";
@import "modal";
@import "contact";
@import "shop";
@import "gallery";

// ########################
// link colors
a {
    @include link-colors
    ($purple,
     $orange,
     $purple,
     $purple,
     $purple);
     text-decoration: none;
     border-bottom: 1px dotted #b9d54a;

}

// a hrefs animation
a {
    text-decoration: none;
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    @include link-colors(
        $normal: $purple,
        $visited: darken($purple,15),
        $hover: darken($purple,15));
}

// ########################

// svg:not(:root) {
//    overflow: visible !important;
// }

figure {
  margin: 0;
  // padding: 0;
  > div {
    margin: 0;
  }
}

.headerArt {
  width: 100%;
  background-image: url(../img/headerC.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 33%;
  margin-top: -2px;

  @include media($mobile) {
    background-image: url(../img/header_mobile.svg);
    // background-image: url(../img/headerC.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 83%;
    height: 0;
    padding: 0;
    padding-bottom: 66%;
    margin-top: -3em;
    margin-bottom: 0em;

  }
}

.footerArt {
  width: 100%;
  background-image: url(../img/footer.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 25%;
  // margin-bottom: 0em;
  // margin-top: 1em;
  background-position-y: 0.7em;


  @include media($mobile) {
    background-image: url(../img/footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 0;
    padding: 0; /* reset */
    padding-bottom: 33%;
    // margin-top: 1.3em;
    background-position-y: 1.4em;
  }
}

.centerContent {
  text-align: center;
  @include clearfix;
}

.valPic {
  margin-top: 0.3em;
  border-radius: 20em;

  @include media($mobile) {
    @include span-columns(6 of 10);
    @include shift(2);
    margin-right: 2em;
  }
}

.statement {
  font-size: 1em;
  text-align: center;
  float: none;
  margin-top: 0.4em;

  @include media($mobile) {
    display: block;
    margin-bottom: 0;
    @include clearfix;
  }

}

.delinky {
  margin: 0;
  a {
    border: none;
  }
}

