---
title: Valentina Design - Feeling Inspired :)
---
<%= partial "partials/header" %>
<%= partial "partials/nav" %>
<div class="content">
  <aside class="col1">
  </aside>
  <main class="contactContent">
    <h2>Thanks!</h2>
    <p>Your information was submitted successfully.</p>
  </main>
  <aside class="social">
    <%= partial "partials/social" %>
  </aside>
</div>
<%= partial "partials/footer" %>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
  var sc_project = 1740873;
  var sc_invisible = 1;
  var sc_security = "73a92f73";
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script>

<noscript>
  <div class="statcounter">
    <a title="tumblr page counter" class="statcounter" href="http://www.statcounter.com/tumblr/">
      <img class="statcounter" src="http://c.statcounter.com/1740873/0/73a92f73/1/" alt="tumblr page counter" />
    </a>
  </div>
</noscript>


