---
title: Valentina Design - Feeling Inspired :)
---

<%= partial "partials/header" %>
<%= partial "partials/nav" %>

<div class="content">

  <main class="twoColMain shop">
    <!-- 4x4 GRID, MOBILE 2x~ -->

    <ul>

      <li class="shopGrid">
        <a href="http://society6.com/valentinaramos" target="_blank">
          <img src="img/shop/prints.jpg" alt="Prints">
          <p>Prints</p>
        </a>
      </li>

      <li class="shopGrid">
        <a href="http://www.denydesigns.com/collections/artist/ar-valentina-ramos" target="_blank">
          <img src="img/shop/duvet.jpg" alt="Home Decor">
          <p>Home Decor</p>
        </a>
      </li>

      <li class="shopGrid">
        <a href="https://www.decalgirl.com/artists/Valentina_Ramos" target="_blank">
          <img src="img/shop/decal.jpg" alt="Phone Decals">
          <p>Phone Decals</p>
        </a>
      </li>

      <li class="shopGrid">
        <a href="http://www.amazon.com/Valentina-Harper/e/B00MCMCYIA/ref=sr_ntt_srch_lnk_1?qid=1430838770&sr=8-1" target="_blank">
          <img src="img/shop/books.jpg" alt="Books">
          <p>Books</p>
        </a>
      </li>

      <li class="shopGrid">
        <a href="http://www.spoonflower.com/profiles/valentinaharper" target="_blank">
          <img src="img/shop/fabric.jpg" alt="Fabrics">
          <p>Fabrics</p>
        </a>
      </li>

      <li class="shopGrid">
        <a href="http://www.mywonderfulwalls.com/collections/valentina-harper" target="_blank">
          <img src="img/shop/mural.jpg" alt="Wall Decal">
          <p>Wall Decal</p>
        </a>
      </li>

    </ul>

  </main>

  <aside class="social">
    <%= partial "partials/social" %>
  </aside>

</div>

<%= partial "partials/footer" %>
