---
title: Valentina Design - Feeling Inspired :)
---

  <%= partial "partials/header" %>

  <%= partial "partials/nav" %>

  <div class="content">

    <main class="shop">

      <!-- 4x4 GRID, MOBILE 2x~ -->
      <ul>
        <li class="shopGrid">
          <a href="https://www.etsy.com/shop/valentinadesign" target="_blank">
            <img src="img/shop/shop_etsy.jpg" alt="Etsy">
            <p>Etsy</p>
          </a>
        </li>
        <li class="shopGrid">
          <a href="http://society6.com/valentinaramos" target="_blank">
            <img src="img/shop/shop_society6.jpg" alt="Society 6">
            <p>Society 6</p>
          </a>
        </li>
        <li class="shopGrid">
          <a href="http://www.decalgirl.com/artists/Valentina_Ramos" target="_blank">
            <img src="img/shop/shop_decal_girl.jpg" alt="Decal Girl">
            <p>Decal Girl</p>
          </a>
        </li>
        <li class="shopGrid">
          <a href="http://www.denydesigns.com/collections/valentina-ramos-all-art" target="_blank">
            <img src="img/shop/shop_deny_designs.jpg" alt="DENY Designs">
            <p>DENY Designs</p>
          </a>
        </li>

        <li class="shopGrid">
          <a href="http://www.spoonflower.com/profiles/valentinaharper" target="_blank">
            <img src="img/shop/shop_spoonflower.jpg" alt="Spoonflower">
            <p>Spoonflower</p>
          </a>
        </li>
        <li class="shopGrid">
          <a href="http://www.getuncommon.com/customize/grid/valentina-ramos/-14/" target="_blank">
            <img src="img/shop/shop_uncommon.jpg" alt="Uncommon">
            <p>Uncommon</p>
          </a>
        </li>
        <li class="shopGrid">
          <a href="http://app.medgestore.com/stylelib/?device=&theme=Valentina&sort=" target="_blank">
            <img src="img/shop/shop_m-edge.jpg" alt="M-Edge">
            <p>M-Edge</p>
          </a>
        </li>
        <li class="shopGrid">
          <a href="http://www.muralsyourway.com/valentina-ramos-prints/" target="_blank">
            <img src="img/shop/shop_murals_your_way.jpg" alt="Murals Your Way">
            <p>Murals Your Way</p>
          </a>
        </li>
      </ul>

    </main>

  </div>

  <%= partial "partials/footer" %>
